* {
  box-sizing: border-box;
  margin: 0px; }

body {
  background-color: grey; }

.container {
  border: 1px solid black;
  width: 800px;
  height: 300px;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; }

.video {
  background-color: blue;
  height: 100px;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center; }

.imagen {
  background-color: red;
  width: 400px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  max-height: 100%; }

#randompic {
  transition: all 2s; }

#randompic:hover {
  transform: scale(1.5);
  cursor: crosshair; }

.map {
  background-color: yellow;
  width: 400px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center; }

.map iframe {
  width: 100%; }

.audio {
  background-color: green;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center; }
